.brand { font-family: georgia, serif; }
.brand .first {
    color: #ccc;
    font-style: italic;
}
.brand .second {
    color: #fff;
    font-weight: bold;
}

.block-body-grid { 
    margin: 0px;
}
.block-without-border {
	border: none;
}

.buttons {
	margin-top: 5px;
}
.sidebar-nav {
	width: 160px;
}
.content {
	margin-left: 160px;
}
.ecgHd {
	margin: 15px 0px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #666;
}
.ecgprops {
	width: 100%;
}
.ecgprops label {
	font-weight: bold;
}
.ecgprops .prop {
	display:inline-block;
	margin-bottom: 5px;
}
.ecgprops .progress {
	margin-bottom: 2px;
}