.brand .second {
    color: #fff;
    font-weight: bold;
}

i { 
	padding-right: 5px;
}

.sidebar-nav i { 
	padding-left: 5px;
	padding-right: 0px;
}

html, body {
	height: 100%;
}

.noscroll {
	overflow: hidden;
}

#loadingpage {
	display: block;
	padding-top: 100px;
	font-size: 30px;
	text-align: center;
	height: 100%;
	width: 60%;
	margin: auto;
}

.sidebar-nav {
	width: 160px;
}
.content {
	margin-left: 160px;
}

.ecgHd {
	margin: 15px 0px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #666;
}

.block-body-grid { 
    margin: 0px;
}
.block-without-border {
	border: none;
}

.buttons {
	margin-top: 10px;
}
.buttons input { margin: 0px; }

table .ecgGridLik {
	font-weight: bold;
	cursor: pointer;
}
table tbody tr.active {
	background-color:  #eee;
}

.ecgprops {
	width: 100%;
}
.ecgprops td {
	padding-top: 10px;
}
.ecgprops .required {
	color: red;
	padding-left: 5px;
	font-size: 14px;
}
.ecgprops label {
	font-weight: bold;
	margin-bottom: 0px;
}
.ecgprops .prop {
	display:inline-block;
	margin-bottom: 0px;
}
.ecgprops .progress {
	margin-bottom: 2px;
}