/*基本元素*/
html, body {
	height: 100%;
}
i { 
	padding-right: 5px;
}

/*应用加载时没有滚动条*/
.noscroll {
	overflow: hidden;
}
.msging {
	margin-top: 43px;
}

/*应用加载界面*/
#loadingpage {
	display: block;
	padding-top: 100px;
	font-size: 30px;
	text-align: center;
	height: 100%;
	width: 60%;
	margin: auto;
}

/*工作状态*/
#workstatus { margin: 0 auto; padding-top: 40px; }
#workstatus button { margin-right: 5px;}
#workstatus .btn-link { padding: 0px 5px; }

/*消息提示*/
#ecgMessage {
	position: fixed;
	top: 0px;
	left: 0px;
}
#ecgMessage .pull-right {
	cursor: pointer;
	margin-right: 5px;
}
#ecgMessage .alert {
	margin: 0px;
}
/*菜单*/
.navbar #cards-menu,
.navbar .examination,
.navbar .sysconfig {
	display: none;
}

/*对主任不可见的菜单*/
.navbar.chief .todo,
.navbar.chief .chief {
	display: none
}
/*对专家不可见的菜单*/
.navbar.expert .duplicated,
.navbar.expert .overview,
.navbar.expert #users-menu,
.navbar.expert #employees-menu {
	display: none
}

/*对接线员不可见的菜单*/
.navbar.operator .overview,
.navbar.operator #employees-menu,
.navbar.operator #users-menu,
.navbar.operator #rules-menu {
	display: none
}

/*对接线员不可见的菜单*/
.navbar.user .overview,
.navbar.user #dashboard-menu,
.navbar.user .task,
.navbar.user #users-menu,
.navbar.user #employees-menu,
.navbar.user #rules-menu {
	display: none
}
.navbar.admin .sysconfig,
.navbar.admin #cards-menu,
.navbar.user .examination {
	display: block;
}

/*Pane头*/
.ecgHd {
	margin: 0px;
	padding-bottom: 0px;
	background-color: #f6f6f6;
	line-height: 30px;
	height: 30px;
	color: #333;
	padding-left: 5px;
}

/*对于pane的特殊设置*/
.block-body-grid { 
    margin: 0px;
    padding: 0px;
}
.block-body-grid table{ 
    margin: 0px;
    padding: 0px;
}
.block-body-grid table tr { 
	cursor: pointer;
}
.block-without-border {
	border: none;
}

.label {
	height: 14px;
	display: inline;
}

/*按钮区域*/
.buttons {
	margin: 10px 0px;
}
.buttons input { margin: 0px; }

/*Grid属性*/
table .ecgGridLik {
	font-weight: bold;
	cursor: pointer;
}
table tbody tr.active {
	background-color:  #eee;
}

/*属性表格*/
.ecgprops {
	margin: auto;
	width: 98%;
	margin-bottom: 30px;
}
.ecgprops td {
	padding-top: 10px;
}
.ecgprops .required {
	color: red;
	padding-left: 5px;
	font-size: 14px;
}
.ecgprops label {
	font-weight: bold;
	margin-bottom: 0px;
}
.ecgprops .desc {
	display: block;
	color: red;
}
.ecgprops .prop {
	display:inline-block;
	margin-bottom: 0px;
}
.ecgprops .progress {
	margin-bottom: 2px;
}
.ecgprops input {
	margin-bottom: 0px;
}
.ecgprops input.ng-invalid {
	border: 2px solid red;
}
.ecgprops .rulelevel {
	cursor: pointer;
	margin-right: 5px;
}

/* 回复设置*/
.ruleconfigs {
	height: 50px;
}
.ruleconfigs .bar {
	cursor: pointer;
	height: 50px;
	line-height: 20px;
	padding-top: 5px;
}
.ruleconfigs .bar-outside {
	background-color: #333;
	background-image: none;
}
/* 过滤规则 */
.rules td {
	line-height: 47px;
}
.rules input {
	margin: 0px;
	text-align:right;
}

/* employee link*/
.employeeLink {
	float: left; margin: 0px; margin-right: 10px; display: inline-block;
}
.employeeLink input {
	margin: 0px;
}

/* ecg plot */
.plot-c {
	width: 100%; min-width: 500px; height: 710px;
	overflow:auto;
	margin: 10px 0px;
}
.plot-c img {
	clear: both;
	height: 100px;
	max-width: none !important;
	display: block;
}
.plot-c.small {
	height: 710px;
}
.plot-c.medium {
	height: 1410px;
}
.plot-c.large {
	height: 2110px;
}
.plot-c.small img {
	height: 100px;
}
.plot-c.medium img {
	height: 200px;
}
.plot-c.large img {
	height: 300px;
}