<a class="block-heading">已办工作<!--span class="label label-warning">3条异常</span><span class="label label-warning">2条人工异常</span--></a>
<div class="block-body block-body-grid collapse in">
	<!-- 当前区间的回复 -->
	<table class="table table-hover">
	<thead>
		<tr>
		<th width="20%">客户</th>
		<th>健康状态</th>
		<th>处理状态</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in done.data" ng-click="done.selected = item" ng-class="{'active': done.selected == item}">
			<td nowrap>{{item.userName}}</td>
			<td nowrap><span class="label label-{{done.translateLevel(item.level)}}">{{done.getLevelLabel(item.level)}}</span></td>
			<td nowrap>{{done.getWorkStatusLabel(item.status)}}</td>
		</tr>
	</tbody>
	</table>
</div>