<div class="row-fluid">
    <div class="block span12" ng-show="task.data && task.data.length > 0 && task.selected == null">
        <div class="block-body block-body-grid collapse in">
            <!-- 当前区间的回复 -->
            <table class="table table-hover">
            <thead>
                <tr>
                <th>ID</th>
                <th>体检时间</th>
                <th>健康状态</th>
                <th>处理状态</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in task.data" ng-click="task.selected = item" ng-class="{'active': task.selected == item}">
                    <td nowrap>{{item.id}}</td>
                    <td nowrap>{{item.createdDate}}</td>
                    <td nowrap><span class="label label-{{task.translateLevel(item.level)}}">{{task.getLevelLabel(item.level)}}</span></td>
                    <td nowrap>
                        <span ng-show="item.status == 'completed'">{{task.getWorkStatusLabel(item.status)}}</span>
                        <a ng-show="session.user.isEmployee() && item.status != 'completed'" 
                           href="#/todo/{{item.id}}">{{task.getWorkStatusLabel(item.status)}}</a>
                        <span ng-show="!session.user.isEmployee()">{{task.getWorkStatusLabel(item.status)}}</span>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
    <div class="block span12" ng-show="task.data && task.data.length > 0 && task.selected">
        <button class="btn btn-primary" type="button" ng-click="task.selected = null">返回</button>
        <div ecg-task-view style="margin-top: 10px;"></div>
        <button class="btn btn-primary" type="button" ng-click="task.selected = null">返回</button>
    </div>
    <div class="block span12" ng-show="task.data == null || task.data.length == 0">
        没有您的体检记录，如需帮助，请联系客服。
    </div>
</div>