<div id="ecgReplyDialog" class="modal hide" style="width:650px;" tabindex="-1" role="dialog" aria-labelledby="ecgModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>提交回复</h3>
  </div>
  <div class="modal-body">
    <!-- 当前回复 -->
    <table class="table table-hover" ng-show="replydialog.replys.length > 0">
    <thead>
      <tr>
      <th >回复</th>
      <th width="15%">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="reply in replydialog.replys">
        <td>
        <p style="width:500px; word-wrap: break-word;">
          检测结果： {{reply.result}} <br/>检测建议： {{reply.content}}
        </p>
        </td>
        <td>
          <button class="btn btn-small btn-danger" type="button" ng-click="replydialog.remove($index)">删除</button>
        </td>
      </tr>
    </tbody>
    </table>
    <div ng-show="!replydialog.replys.length">
      <strong>请您选择下列预设回复（可多选）或者人工回复(可多次录入)。</strong>
    </div>

    <br/>

    <ul class="nav nav-tabs" id="replydialogTab">
      <li ng-class="{'active': replydialog.tab == 1}" ng-click="replydialog.tab = 1">
        <a href="javascript:void(0)" data-toggle="tab">预设回复({{replydialog.rules.length}}条可选)</a>
      </li>
      <li ng-class="{'active': replydialog.tab == 2}" ng-click="replydialog.tab = 2">
        <a href="javascript:void(0)" data-toggle="tab">人工回复</a>
      </li>
    </ul>
     
    <div class="tab-content">
      <div class="tab-pane" ng-class="{'active': replydialog.tab == 1}">
        <table class="table table-hover" ng-show="replydialog.rules.length > 0">
        <tbody>
          <tr ng-repeat="rule in replydialog.rules"
              ng-click="replydialog.selectedRule = rule">
            <td>
              <p style="width:500px; word-wrap: break-word;">
              检测内容： {{rule.name}} 检测值：{{rule.val}} 检测值所在区间： [{{rule.min}}, {{rule.max}})<br/>
              预设结果： {{rule.replyconfig.result}} <br/>
              预设建议： {{rule.replyconfig.content}} <br/>
              </p>
            </td>
            <td width="15%">
              <button class="btn btn-small" type="button" ng-click="replydialog.usereply(rule)" ng-disabled="rule.used">选用</button>
            </td>
          </tr>
        </tbody>
        </table>
        <div ng-show="replydialog.rules.length == 0">
          正在加载预设回复，请耐心等待......
        </div>
        <div ng-show="replydialog.norules">
          抱歉，没有预设回复，请和管理员联系。
        </div>
      </div>
      <div class="tab-pane" ng-class="{'active': replydialog.tab == 2}">
        <form name="saveReplyForm">
        <table class="ecgprops">

        <tr>
        <td width="100px" valign="top"><label for="replydialog-result">结果:</label></td>
        </tr>

        <tr>
        <td>
          <input ng-model="replydialog.reply.result" class="input-xlarge" id="replydialog-result" required placeholder="请输入结果,最多10个汉字。"></input>
          <span class="required">*</span>
        </tr>

        <tr>
        <td valign="top"><label for="replydialog-content">回复内容:</label></td>
        </tr>

        <tr>
        <td>
          <textarea rows="3" ng-model="replydialog.reply.content"
           class="input-xlarge" id="replydialog-content" required placeholder="请输入回复内容" style="width:450px;"></textarea>
          <span class="required">*</span>
        </td>
        </tr>

        </table>
        <button class="btn" type="button"
            ng-class="{'btn-primary': saveReplyForm.$valid}" 
            ng-click="replydialog.save()"
            ng-disabled="!saveReplyForm.$valid">
          <i class="icon-save"></i><span ng-show="!replydialog.selectedReplyConfig.id">保存</span>
        </button>
        </form>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="replydialog.useallreply()">使用全部预设回复</button>
    <button class="btn" ng-class="{'btn-primary':  replydialog.replys.length}" 
    ng-click="replydialog.execute()" ng-disabled="!replydialog.replys.length">提交</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>