<div id="ecgReplyDialog" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="ecgModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>提交回复</h3>
  </div>
  <div class="modal-body">
    <form name="saveReplyForm">
    <table class="ecgprops">

    <tr>
    <td width="100px" valign="top"><label for="replydialog-result">结果:</label></td>
    </tr>

    <tr>
    <td>
      <input ng-model="replydialog.reply.result" class="input-xlarge" id="replydialog-result" required placeholder="请输入结果,最多10个汉字。"></input>
      <span class="required">*</span>
    </tr>

    <tr>
    <td valign="top"><label for="replydialog-content">回复内容:</label></td>
    </tr>

    <tr>
    <td>
      <textarea rows="3" ng-model="replydialog.reply.content"
       class="input-xlarge" id="replydialog-content" required placeholder="请输入回复内容" style="width:450px;"></textarea>
      <span class="required">*</span>
    </td>
    </tr>

    </table>
    </form>

    <!--
    <a href="javascript:void(0)" ng-show="!replydialog.showconfigs" ng-click="replydialog.showconfigs = true">展开预设回复(4条)</a>
    <a href="javascript:void(0)" ng-show="replydialog.showconfigs" ng-click="replydialog.showconfigs = false">收起预设回复</a>
    <div ng-show="replydialog.showconfigs">
      <br>
      <ul class="nav nav-tabs" id="replyconfigTab">
        <li ng-class="{'active': replydialog.tab == 1}" ng-click="replydialog.tab = 1"><a href="javascript:void(0)" data-toggle="tab">心率(区间[90, 100), 共2条)</a></li>
        <li ng-class="{'active': replydialog.tab == 2}" ng-click="replydialog.tab = 2"><a href="javascript:void(0)" data-toggle="tab">脉搏(区间[90, 100), 共1条)</a></li>
      </ul>
       
      <div class="tab-content">
        <div class="tab-pane" ng-class="{'active': replydialog.tab == 1}"></div>
        <div class="tab-pane" ng-class="{'active': replydialog.tab == 2}"></div>
      </div>
    </div>
    -->
  </div>

  <div class="modal-footer">
    <button class="btn" ng-class="{'btn-primary': saveReplyForm.$valid}" ng-click="replydialog.execute()" ng-disabled="!saveReplyForm.$valid">提交</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>