<div class="row-fluid" ng-show="todo.tasks && todo.tasks.length > 0 && todo.replyform != 'top' && todo.replyform != 'bottom'">
	<div class="span12 buttons">
		<button class="btn" type="button"
				ng-click="todo.reply('top')" ng-disabled="todo.current == null || todo.current.examination == null">
			<i class="icon-edit"></i>回复...
		</button>
    </div>
</div>
<div class="row-fluid" ng-show="todo.tasks && todo.tasks.length > 0 && todo.replyform == 'top'">
    <div class="block span12">
        <div ecg-reply-form></div>
    </div>
</div>
<div class="row-fluid" ng-show="todo.tasks && todo.tasks.length > 0">
    <div class="block span12">
        <div ecg-task-view></div>
    </div>
</div>
<div class="row-fluid" ng-show="todo.tasks && todo.tasks.length == 0">
    <div class="span12">
        没有可处理的检测请求
    </div>
</div>
<div class="row-fluid" ng-show="todo.tasks && todo.tasks.length > 0 && todo.replyform == 'bottom'">
    <div class="block span12">
        <div ecg-reply-form></div>
    </div>
</div>
<div class="row-fluid" ng-show="todo.tasks && todo.tasks.length > 0 && todo.replyform != 'top' && todo.replyform != 'bottom'">
    <div class="span12 buttons">
        <button class="btn" type="button"
                ng-click="todo.reply('bottom')" ng-disabled="todo.current == null || todo.current.examination == null">
            <i class="icon-edit"></i>回复...
        </button>
    </div>
</div>
<div ecg-reply-dialog></div>
