<a class="block-heading">待办工作<!--span class="label label-warning">3条异常</span><span class="label label-warning">2条人工异常</span--></a>
<div class="block-body block-body-grid collapse in">
	<!-- 当前区间的回复 -->
	<table class="table table-striped">
	<thead>
		<tr>
		<th width="20%">客户</th>
		<th>健康状态</th>
		<th>处理状态</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in undone.data" ng-click="undone.selected = item">
			<td>{{item.userName}}</td>
			<td>{{undone.getLevelLabel(item.level)}}</td>
			<td>{{undone.getWorkStatusLabel(item.status)}}</td>
		</tr>
	</tbody>
	</table>
</div>