<div class="row-fluid">
	<div class="span12">
		<br/>
		<form name="updateChiefForm">
		<table class="ecgprops">

		<tr>
		<td width="80px"><label>编号:</label></td>
		<td>{{chief.updateobj.id}}</td>
		</tr>

		<tr>
		<td width="80px"><label for="chief-name">姓名:</label></td>
		<td>
			<input ng-model="chief.updateobj.name" class="input-xlarge" id="chief-name" focus required placeholder="请输入姓名">
			<span class="required">*</span></td>
		</tr>

		<tr>
		<td><label for="chief-gender">性别:</label></td>
		<td><select ng-model="chief.updateobj.gender" ng-options="g.value as g.label for g in chief.genders" required></select></td>
		</tr>

		<tr>
		<td ><label for="chief-birthday">出生日期:</label></td>
		<td>
			
			<div id="chief-birthday" class="input-append date">
			    <input ng-model="chief.updateobj.birthday" data-format="yyyy-MM-dd" type="text" required></input>
			    <span class="add-on">
			      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
			      </i>
			    </span>
			    <span class="required">*</span>
		    </div>
		</td>
		</tr>

		<tr>
		<td ><label for="chief-idCard">身份证:</label></td>
		<td><input ng-model="chief.updateobj.idCard" class="input-xlarge" id="chief-idCard" placeholder="请输入18位身份证号码"></td>
		</tr>

		<tr>
		<td ><label for="chief-title">职务:</label></td>
		<td><input ng-model="chief.updateobj.title" class="input-xlarge" id="chief-title" placeholder="请输入职务信息"></td>
		</tr>

		<tr>
		<td ><label for="chief-tel">电话:</label></td>
		<td>
		<input ng-model="chief.updateobj.tel" class="input-xlarge" id="chief-tel" required placeholder="请输入联系电话,固话请带区号">
		<span class="required">*</span></td>
		</tr>

		<tr>
		<td ><label for="chief-hospital">所在医院:</label></td>
		<td><input ng-model="chief.updateobj.hospital" class="input-xlarge" id="chief-hospital" placeholder="请输入所在医院"></td>
		</tr>

		<tr>
		<td ><label for="chief-dismissed">工作状态:</label></td>
		<td><select ng-model="chief.updateobj.dismissed" ng-options="g.value as g.label for g in chief.workstates" required></select></td>
		</tr>

		</table>
		</form>
    </div>
</div>
<div class="row-fluid">
	<div class="span12">
		<button class="btn" type="button"
				ng-class="{'btn-primary': updateChiefForm.$valid}" 
				ng-click="chief.update()"
				ng-disabled="!updateChiefForm.$valid">
			<i class="icon-save"></i>保存
		</button>
		<a href="#/chief" class="btn"><i class="icon-list"></i>返回</a>
    </div>
</div>