<div id="ecgForwardDialog" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="ecgModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>转交专家</h3>
  </div>
  <div class="modal-body">
        <table at-table class="table table-bordered" pagination="forwardDialogPagination">
          <thead></thead>
          <tbody>
            <tr ng-click="forwarddialog.selected = item" ng-class="{'active': forwarddialog.selected == item}">
            <td at-implicit sortable title="姓名" attribute="name"></td>
            <td title="工作负荷"></td>
            </tr>
          </tbody>
        </table>

        <at-pagination items-per-page="10" instance="forwardDialogPagination" list="forwarddialog.experts"></at-pagination>
  </div>
  <div class="modal-footer">
    <button class="btn" ng-class="{'btn-primary': forwarddialog.selected}" ng-click="forwarddialog.execute()" ng-disabled="!forwarddialog.selected">转交</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>