<div class="sidebar-nav">
<a href="#dashboard-menu" class="nav-header" data-toggle="collapse"><i class="icon-dashboard"></i>日常操作</a>
<ul id="dashboard-menu" class="nav nav-list collapse in">
    <li ><a href="#/undone">待办工作</a></li>
    <li ><a href="#/done">已办工作</a></li>
</ul>

<a href="#dashboard-menu" class="nav-header" data-toggle="collapse"><i class="icon-dashboard"></i>平台监控</a>
<ul id="dashboard-menu" class="nav nav-list collapse in">
    <li ><a href="#/overview">实时监控</a></li>
    <li ><a href="javascript:void(0)">工作监察</a></li>
    <li ><a href="javascript:void(0)">终端监控</a></li>
</ul>

<a href="#accounts-menu" class="nav-header" data-toggle="collapse"><i class="icon-briefcase"></i>基础数据</a>
<ul id="accounts-menu" class="nav nav-list collapse in">
    <li ><a href="javascript:void(0)">终端管理</a></li>
    <li ><a href="javascript:void(0)">客户管理</a></li>
    <li ><a href="#/replysetting">回复设置</a></li>
    <li ><a href="javascript:void(0)">流程设置</a></li>
    <li ><a href="javascript:void(0)">人员管理</a></li>
</ul>

<a href="javascript:void(0)" class="nav-header" ><i class="icon-user"></i>个人设置</a>
<a href="javascript:void(0)" class="nav-header" ><i class="icon-question-sign"></i>使用帮助</a>
<a href="javascript:void(0)" class="nav-header" ><i class="icon-comment"></i>常见问题</a>
</div>