<div class="row-fluid">
	<div class="span12">
		<form name="updateRuleForm">
		<table class="ecgprops">

		<tr style="display:none">
		<td width="150px" valign="top"><label for="rule-type">设备类型:</label></td>
		<td>{{rule.updateobj.type}}</tr>

		<tr>
		<td><label for="rule-code">指标编码:</label></td>
		<td>{{rule.updateobj.code}}</td>
		</tr>

		<tr>
		<td><label for="rule-name">指标名称:</label></td>
		<td>
			<input ng-model="rule.updateobj.name" class="input-xlarge" id="rule-name" required placeholder="请输入指标名称"></input>
			<span class="required">*</span>
		</td>
		</tr>

		
		<td ><label for="rule-min">范围设定:</label></td>
		<td>
			{{rule.updateobj.min}} - {{rule.updateobj.max}}
			<a href="javascript:void(0)" ng-click="rule.config()">设置</a>
		</td>
		</tr>

		<tr>
		<td ><label for="rule-remark">说明:</label></td>
		<td>
			<input ng-model="rule.updateobj.remark" class="input-xlarge" id="rule-remark" required placeholder="请输入说明"></input>
			<span class="required">*</span></td>
		</tr>

		</table>
		</form>
    </div>
</div>
<div class="row-fluid">
	<div class="span12">
		<button class="btn" type="button"
				ng-class="{'btn-primary': updateRuleForm.$valid}" 
				ng-click="rule.update()"
				ng-disabled="!updateRuleForm.$valid">
			<i class="icon-save"></i>保存
		</button>
		<a href="javascript:window.history.go(-1)" class="btn"><i class="icon-list"></i>返回</a>
    </div>
</div>