<div class="row-fluid" ng-show="session.user.isChief() || session.user.isAdmin()">
	<div class="span12 buttons">
		<button class="btn" type="button"
				ng-click="replyconfig.newRule()">
			<i class="icon-plus"></i>创建区间
		</button>
		<button class="btn" type="button"
				ng-click="replyconfig.confirmDeleteRule()"
				ng-disabled="replyconfig.selectedRule == null || replyconfig.rules.length == 1">
			<i class="icon-remove"></i>删除区间
		</button>
		<a href="#/rule" class="btn"><i class="icon-list"></i>返回</a>
    </div>
</div>

<div class="row-fluid" ng-show="replyconfig.selectedRule">
	<div class="span12">
    	<!-- 区间 -->
    	<br/>
		<div class="progress replyconfigs">
			<div ng-repeat="rule in replyconfig.rules" ng-click="replyconfig.onselectrule(rule)"
				 class="bar bar-{{rule.level}}" style="width:16.6%\9; width: {{rule.percent}}%;" title="设置了{{rule.replyconfigs.length}}条回复">
			{{rule.min}} - {{rule.max}} <br> ({{rule.replyconfigs.length}})
			</div>
		</div>
    </div>
</div>

<div class="row-fluid" ng-show="replyconfig.selectedRule">
	<div class="span12">
		<h5 class="ecgHd">检测区间</h5>
		<table class="ecgprops">

		<tr>
		<td width="100px" valign="top"><label for="replyconfig-username">区间:</label></td>
		<td>
			<span>[{{replyconfig.selectedRule.min}}</span> , <span>{{replyconfig.selectedRule.max}})</span>
		</tr>

		<tr>
		<td width="100px" valign="top"><label for="replyconfig-username">区间级别:</label></td>
		<td>
			<span class="label label-success rulelevel" ng-click="replyconfig.setLevel('success')">
				<i class="icon-ok" ng-show="replyconfig.selectedRule.level == 'success'"></i>正常
			</span>
			<span class="label label-warning rulelevel" ng-click="replyconfig.setLevel('warning')">
				<i class="icon-ok" ng-show="replyconfig.selectedRule.level == 'warning'"></i>需要关注
			</span>
			<span class="label label-important rulelevel" ng-click="replyconfig.setLevel('danger')">
				<i class="icon-ok" ng-show="replyconfig.selectedRule.level == 'danger'"></i>危险或数据异常
			</span>
		</tr>

		</table>
    </div>
</div>

<div class="row-fluid">
    <div class="block block-without-border span12">
    	<h5 class="ecgHd">该检测区间的预设回复</h5>
		<!-- 当前区间的回复 -->
		<table class="table table-hover" ng-show="replyconfig.selectedRule">
		<thead>
			<tr>
			<th width="15%">预设结果</th>
			<th>预设内容</th>
			<th width="15%">操作</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="replyconfg in replyconfig.selectedRule.replyconfigs"
				ng-click="replyconfig.selectedReplyConfig = replyconfg"
				ng-class="{'active': replyconfig.selectedReplyConfig == replyconfg}">
				<td>{{replyconfg.result}}</td>
				<td>{{replyconfg.content}}</td>
				<td>
					<button class="btn btn-small btn-danger" type="button" ng-click="replyconfig.remove(replyconfg)">删除</button>
				</td>
			</tr>
		</tbody>
		</table>

		<!-- 未选择区间 -->
		<div ng-show="!replyconfig.selectedRule" style="text-align:center;font-size:16px;">正在加载回复设置...</div>
    </div>
</div>

<div class="row-fluid" ng-show="replyconfig.showForm()">
	<div class="span12">
		<form name="saveReplyForm">
		<table class="ecgprops">

		<tr>
		<td width="100px" valign="top"><label for="replyconfig-result">预设结果:</label></td>
		<td>
			<input ng-model="replyconfig.selectedReplyConfig.result" class="input-xlarge" id="replyconfig-result" required placeholder="请输入预设结果,最多10个汉字。"></input>
			<span class="required">*</span>
		</tr>

		<tr>
		<td valign="top"><label for="replyconfig-content">预设内容:</label></td>
		<td>
			<textarea rows="3" ng-model="replyconfig.selectedReplyConfig.content"
			 class="input-xlarge" id="replyconfig-content" required placeholder="请输入预设内容" style="width:500px;"></textarea>
			<span class="required">*</span>
		</td>
		</tr>

		</table>
		</form>
    </div>
</div>

<div class="row-fluid" ng-show="replyconfig.showForm()">
	<div class="span12">
		<button class="btn" type="button"
				ng-class="{'btn-primary': saveReplyForm.$valid}" 
				ng-click="replyconfig.save()"
				ng-disabled="!saveReplyForm.$valid">
			<i class="icon-save"></i><span ng-show="!replyconfig.selectedReplyConfig.id">新增</span><span ng-show="replyconfig.selectedReplyConfig.id">更新</span>
		</button>
		<button class="btn" type="button"
				ng-click="replyconfig.reset()"
				ng-show="replyconfig.selectedReplyConfig.id">
			<i class="icon-remove"></i>放弃更新
		</button>
    </div>
</div>