<div class="row-fluid" ng-show="operator.experts && operator.experts.length != 0">
    <div class="span12">
        <div ng-repeat="expert in operator.experts" class="employeeLink" ng-click="operator.check(expert)">
            <div class="alert alert-info">
            <input type="checkbox" ng-checked="expert.removed"> <strong>{{expert.name}}</strong>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div ng-show="operator.experts && operator.experts.length == 0">
            尚未配置绑定关系
        </div>
        <div ng-show="operator.experts && operator.experts.length != 0">
            <form class="form-inline">
                <label class="checkbox"><input type="checkbox" ng-click="operator.checkAll()"></input>全部选择</label>
            </form>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <button class="btn btn-primary" type="button"
                ng-click="operator.addExperts()">
            <i class="icon-plus"></i>新增
        </button>
        <button class="btn btn-danger" type="button"
                ng-click="operator.removeExperts()">
            <i class="icon-remove"></i>删除
        </button>
        <a href="#/operator" class="btn"><i class="icon-list"></i>返回</a>
    </div>
</div>
<div ecg-expert-dialog></div>