<div id="ecgOperatorsDialog" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="ecgModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>选择接线员</h3>
    <hr/>
  </div>
  <div class="modal-body">
    
        <table at-table class="table table-bordered" pagination="operatorsDialogPagination">
          <thead></thead>
          <tbody>
            <tr ng-click="item.selected = !item.selected" ng-class="{'active': item.selected}">
                <td at-implicit sortable title="登录名" attribute="username"></td>
                <td at-implicit sortable title="姓名" attribute="name"></td>
            </tr>
          </tbody>
        </table>

        <at-pagination items-per-page="15" instance="operatorsDialogPagination" list="operatordialog.data"></at-pagination>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="operatordialog.execute()"><i class="icon-ok"></i>选择</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i>关闭</button>
  </div>
</div>