<br/>
<ul class="nav nav-tabs" id="operatorTab">
  <li ng-class="{'active': operator.tab == 1}" ng-click="operator.tab = 1"><a href="javascript:void(0)" data-toggle="tab">基本信息</a></li>
  <!--li ng-class="{'active': operator.tab == 2}" ng-click="operator.tab = 2"><a href="javascript:void(0)" data-toggle="tab">自定义规则</a></li-->
  <li ng-class="{'active': operator.tab == 3}" ng-click="operator.tab = 3"><a href="javascript:void(0)" data-toggle="tab">配置专家</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane" ng-class="{'active': operator.tab == 1}"><div ecg-operator-edit></div></div>
  <!--div class="tab-pane" ng-class="{'active': operator.tab == 2}"><div ecg-operator-rules></div></div-->
  <div class="tab-pane" ng-class="{'active': operator.tab == 3}"><div ecg-operator-experts></div></div>
</div>