<h6 class="ecgHd">检测简报</h6>
<table class="ecgprops">
<tr>
<td><label>测试项目:</label></td>
<td><span class="prop">外设</span></td>
<td><label>健康状态:</label></td>
<td><span class="prop">正常</span></td>
<td><label>处理状态:</label></td>
<td><span class="prop">未处理</span></td>
</tr>
</table>
<table class="ecgprops">
<tr>
<td><label>血压:</label></td>
<td><span class="prop">低压-66 高压-140</span></td>
<td><label>心率:</label></td>
<td><span class="prop">68</span></td>
<td><label>血氧:</label></td>
<td><span class="prop">98</span></td>
<td><label>呼吸:</label></td>
<td><span class="prop">26</span></td>
<td><label>体温:</label></td>
<td><span class="prop">36.7</span></td>
<td><label>脉率:</label></td>
<td><span class="prop">68</span></td>
</tr>
</table>