<a href="#undonetaskview" class="block-heading" data-toggle="collapse">待办内容</a>
<div id="undonetaskview" class="block-body collapse in">
    <div ng-show="!showView()"><br><br>请选择左侧任意一条数据</div>
    <div ng-show="showView()">
        <p style="padding-top:5px;">
        <button class="btn btn-small" type="button">更改健康状态</button>
        <button class="btn btn-small" type="button">下载数据</button>
        <button class="btn btn-small" type="button">打印数据</button>
        </p>
        <ecg-user-card></ecg-user-card>
        <ecg-task-card></ecg-task-card>
        <ecg-plot></ecg-plot>
    </div>
    <br><br><br><br>
</div>
