<!-- undone task start -->
<div class="row-fluid">
    <div class="block span6">
        <a class="block-heading">待办工作<span class="label label-warning">3条异常</span><span class="label label-warning">2条人工异常</span></a>
        <div class="block-body block-body-grid collapse in">
            <div class="gridStyle" ng-grid="undone.gridOptions" style="height:450px"></div>
        </div>
    </div>
    <div class="block span6">
        <a href="#widget1container" class="block-heading" data-toggle="collapse">工作内容 </a>
        <div id="widget1container" class="block-body collapse in">
            {{undone.selectedItems[0].guest}}
        </div>
    </div>
</div>