<h6 class="ecgHd">用户信息</h6>
<table class="ecgprops">
<tr>
<td><label>姓名:</label></td>
<td><span class="prop">{{undone.user.name}}</span></td>
<td><label>时间:</label></td>
<td><span class="prop">2013年05月12日 13:56</span></td>
<td><label>电话:</label></td>
<td><span class="prop">13912345678</span></td>
</tr>
<tr>
<td valign="top"><label>紧急联系人:</label></td>
<td colspan="5"><span class="prop">张大 - 13912345678</span><br/><span class="prop">张大 - 13912345678</span></td>
</tr>
<tr>
<td valign="top"><label>不良爱好:</label></td>
<td colspan="5"><span class="prop">无</span></td>
</tr>
<tr>
<td valign="top"><label>既往病史:</label></td>
<td colspan="5"><span class="prop">无</span></td>
</tr>
</table>