<div class="row-fluid">
	<div class="span12 buttons">
		<a href="#/chief/new" class="btn"><i class="icon-plus"></i>新增主任</a>
		<button class="btn" type="button"
				ng-class="{'btn-danger': chief.selectedItems.length > 0}"
				ng-click="chief.confirmDelete()" ng-disabled="chief.selectedItem == null">
			<i class="icon-remove"></i>删除主任
		</button>
		<input type="text" placeholder="请输入姓名关键字" title="请输入姓名关键字" ng-model="chief.query" ng-change="chief.queryChanged(chief.query)">
    </div>
</div>
<div class="row-fluid">
    <div class="block block-without-border span12">
		<table at-table class="table table-bordered" pagination="chiefPagination">
		  <thead></thead>
		  <tbody>
		    <tr ng-click="chief.selectedItem = item" ng-class="{'active': chief.selectedItem == item}">
				<td at-implicit sortable title="编号" attribute="id" class="ecgGridLik" ng-click="chief.showPage(item)"></td>
				<td at-implicit sortable title="姓名" attribute="name"></td>
				<td sortable title="性别" attribute="gender">
					{{chief.getGenderLabel(item)}}
				</td>
				<td sortable title="性别" attribute="gender">
					{{chief.getGenderLabel(item)}}
				</td>
				<td sortable title="是否在职" attribute="gender">
					{{chief.getWorkStateLabel(item)}}
				</td>
				<td at-implicit sortable title="电话" attribute="tel"></td>
				<td at-implicit sortable title="在职医院" attribute="hospital"></td>
		    </tr>
		  </tbody>
		</table>

		<at-pagination items-per-page="10" instance="chiefPagination" list="chief.filteredData"></at-pagination>
    </div>
</div>