<div class="row-fluid">
	<div class="span12">
		<br>
		<a href="#/chief/new" class="btn"><i class="icon-plus"></i>新增主任</a>
		<button class="btn btn-danger" type="button" ng-click="chief.confirmDelete()"><i class="icon-remove"></i>删除主任</button>
    </div>
</div>
<div class="row-fluid">
    <div class="block span12">
    	<a class="block-heading" data-toggle="collapse">主任列表</a>
		<div class="block-body block-body-grid collapse in">
		    <div class="gridStyle" ng-grid="chief.gridOptions" style="height:450px"></div>
		</div>
    </div>
</div>