<a class="block-heading">员工在线情况</a>
<div class="block-body collapse in">
<table class="ecgprops">
<tr>
<td></td>
<td><label class="pull-right">在位</label></td>
<td><label class="pull-right">暂离</label></td>
<td><label class="pull-right">总计</label></td>
</tr>
<tr>
<td><label>专家</label></td>
<td><span class="prop pull-right">40</span></td>
<td><span class="prop pull-right">5</span></td>
<td><span class="prop pull-right">45</span></td>
</tr>
<tr>
<td><label>接线员</label></td>
<td><span class="prop pull-right">50</span></td>
<td><span class="prop pull-right">5</span></td>
<td><span class="prop pull-right">55</span></td>
</tr>
</table>
</div>