<h5 class="ecgHd">员工在线情况</h5>
<div class="block-body collapse in">
<table class="ecgprops">
<tr>
<td></td>
<td><label class="pull-right">在位</label></td>
<td><label class="pull-right">暂离</label></td>
<td><label class="pull-right">总计</label></td>
</tr>
<tr>
<td><label>专家</label></td>
<td><span class="prop pull-right">{{employeestatus.expert.online}}</span></td>
<td><span class="prop pull-right">{{employeestatus.expert.away}}</span></td>
<td><span class="prop pull-right">{{employeestatus.expert.online + employeestatus.expert.away}}</span></td>
</tr>
<tr>
<td><label>接线员</label></td>
<td><span class="prop pull-right">{{employeestatus.operator.online}}</span></td>
<td><span class="prop pull-right">{{employeestatus.operator.away}}</span></td>
<td><span class="prop pull-right">{{employeestatus.operator.online + employeestatus.operator.away}}</span></td>
</tr>
</table>
</div>