<h5 class="ecgHd">专家任务处理统计 <div class="pull-right" ecg-range-selector></div></h5>
<div class="block-body collapse in" ng-show="overview.expertreport.experts">
	<table class="ecgprops">
		<tr ng-repeat="expert in overview.expertreport.experts">
			<td width="100px"><span class="prop">{{expert.name}}</span></td>
			<td >
			<div class="progress">
			  <div class="bar bar-success" ng-style="{width: expert.percent + '%'}"></div>
			</div>
			</td>
			<td width="30px;" style="padding-left:20px;">
				<span class="label label-success pull-right">{{expert.completed}}</span>
			</td>
			<td width="30px;">
				<span class="label label-warning pull-right">{{expert.proceeding}}</span>
			</td>
		</tr>
	</table>
</div>
<div class="block-body collapse in" ng-show="!overview.expertreport.experts">
	正在加载数据，请稍候......
</div>