<a class="block-heading">接线员任务处理统计 <div class="pull-right" style="margin: 6px 5px 0px 0px;" ecg-range-selector></div></a>
<div class="block-body collapse in" ng-show="overview.operatorreport.operators">
	<table class="ecgprops">
		<tr ng-repeat="operator in overview.operatorreport.operators">
			<td width="100px"><span class="prop">{{operator.name}}</span></td>
			<td >
			<div class="progress">
			  <div class="bar bar-success" style="width: {{operator.percent}}%;"></div>
			</div>
			</td>
			<td width="30px;" style="padding-left:20px;">
				<span class="label label-success prop pull-right">{{operator.completed}}</span>
			</td>
			<td width="30px;">
				<span class="label prop pull-right">{{operator.pending}}</span>
			</td>
		</tr>
	</table>
</div>
<div class="block-body collapse in" ng-show="!overview.operatorreport.operators">
	正在加载数据，请稍候......
</div>