<a class="block-heading">接线员今日任务处理概况</a>
<div class="block-body collapse in">
	<table class="ecgprops">
		<tr>
			<td width="58px"><span class="prop">接线员1</span></td>
			<td >
			<div class="progress">
			  <div class="bar bar-success" style="width: 35%;"></div>
			  <div class="bar bar-warning" style="width: 20%;"></div>
			</div>
			</td>
			<td width="30px;" style="padding-left:20px;">
				<span class="label label-success prop pull-right">300</span>
			</td>
			<td width="30px;">
				<span class="label label-warning prop pull-right">15</span>
			</td>
			<td width="30px;">
				<span class="label prop pull-right">10</span>
			</td>
		</tr>
		<tr>
			<td width="100px"><span class="prop">接线员2</span></td>
			<td>
			<div class="progress">
			  <div class="bar bar-success" style="width: 35%;"></div>
			  <div class="bar bar-warning" style="width: 20%;"></div>
			</div>
			</td>
			<td width="30px;" style="padding-left:20px;">
				<span class="label label-success prop pull-right">30</span>
			</td>
			<td width="30px;">
				<span class="label label-warning prop pull-right">15</span>
			</td>
			<td width="30px;">
				<span class="label prop pull-right">10</span>
			</td>
		</tr>
	</table>
</div>