<div class="row-fluid">
    <div class="block span3">
        <div ecg-task-current-report></div>
    </div>
    <div class="block span3">
    	<ecg-employee-status-report></ecg-employee-status-report>
    </div>
    <div class="block span6">
    	<ecg-task-process-report></ecg-task-process-report>
    </div>
</div>

<div class="row-fluid">
    <div class="block span6">
        <div ecg-operators-task-report></div>
    </div>
    <div class="block span6">
    	<div ecg-experts-task-report></div>
    </div>
</div>