<h5 class="ecgHd">任务完成统计</h5>
<div class="block-body collapse in">
<table class="ecgprops">
<tr>
<td><label>等待接线员处理:</label></td>
<td><span class="label label-warning pull-right">{{overview.currentreport.pending}}</span></td>
</tr>
<tr>
<td><label>等待专家处理:</label></td>
<td><span class="label label-warning pull-right">{{overview.currentreport.proceeding}}</span></td>
</tr>
<tr>
<td><label>已处理:</label></td>
<td><span class="label label-success pull-right">{{overview.currentreport.completed}}</span></td>
</tr>
</table>
</div>