<a class="block-heading" data-toggle="collapse">任务处理效率统计</a>
<div class="block-body collapse in">
<table class="ecgprops">
<tr>
<td width="150px"></td>
<td><label class="pull-right">本年</label></td>
<td><label class="pull-right">本季</label></td>
<td><label class="pull-right">本月</label></td>
<td><label class="pull-right">本周</label></td>
<td><label class="pull-right">本日</label></td>
</tr>
<tr>
<td><label>最长等待处理任务个数</label></td>
<td><span class="prop pull-right">40</span></td>
<td><span class="prop pull-right">5</span></td>
<td><span class="prop pull-right">45</span></td>
<td><span class="prop pull-right">45</span></td>
<td><span class="prop pull-right">45</span></td>
</tr>
<tr>
<td><label>任务最长等待处理时间</label></td>
<td><span class="prop pull-right">50</span></td>
<td><span class="prop pull-right">5</span></td>
<td><span class="prop pull-right">55</span></td>
<td><span class="prop pull-right">45</span></td>
<td><span class="prop pull-right">45</span></td>
</tr>
</table>
</div>