<div class="row-fluid">
	<div class="span12">
		<form name="updateChiefForm">
		<table class="ecgprops">

		<tr>
		<td width="150px" valign="top"><label for="user-mobile">手机号码:</label></td>
		<td>{{user.updateobj.mobile}}</td>
		</tr>

		<tr>
		<td><label for="user-name">姓名:</label></td>
		<td>
			<input ng-model="user.updateobj.name" class="input-xlarge" id="user-name" focus required placeholder="请输入姓名"></input>
			<span class="required">*</span>
		</td>
		</tr>

		<tr>
		<td width="150px" valign="top"><label for="user-email">邮箱地址:</label></td>
		<td>
			<input ng-model="user.updateobj.email" class="input-xlarge" id="user-email"
				   ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/"
				   placeholder="请输入有效邮箱地址" ng-change="user.checkUnique()"></input>
			<span class="desc">找回密码的方式之一</span></td>
		</tr>

		<tr>
		<td><label for="user-gender">性别:</label></td>
		<td><select ng-model="user.updateobj.gender" ng-options="g.value as g.label for g in user.genders"></select></td>
		</tr>

		<tr>
		<td><label for="user-gender">是否已婚:</label></td>
		<td><select ng-model="user.updateobj.married" ng-options="g.value as g.label for g in user.bools"></select></td>
		</tr>

		<tr>
		<td ><label for="user-birthday">出生日期:</label></td>
		<td>
			
			<div id="user-birthday" class="input-append date">
			    <input ng-model="user.updateobj.birthday" type="text" readonly="readonly" placeholder="请选择出生日期"></input>
			    <span class="add-on">
			      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
			      </i>
			    </span>
		    </div>
		</td>
		</tr>

		<tr>
		<td ><label for="user-idCard">身份证:</label></td>
		<td><input ng-model="user.updateobj.idCard" class="input-xlarge" id="user-idCard" placeholder="请输入18位身份证号码"></input></td>
		</tr>

		<tr>
		<td ><label for="user-address">现住址:</label></td>
		<td><input ng-model="user.updateobj.address" class="input-xlarge" id="user-address" placeholder="请输入职务信息"></input></td>
		</tr>

		<tr>
		<td ><label for="user-anamnesis">既往病史:</label></td>
		<td>
		<input ng-model="user.updateobj.anamnesis" class="input-xlarge" id="user-anamnesis" placeholder="请输入联系电话,固话请带区号"></input>
		</td>
		</tr>

		<tr>
		<td ><label for="user-stature">身高:</label></td>
		<td><input ng-model="user.updateobj.stature" class="input-xlarge" id="user-stature" placeholder="请输入身高" ></input></td>
		</tr>

		<tr>
		<td ><label for="user-weight">体重:</label></td>
		<td><input ng-model="user.updateobj.weight" class="input-xlarge" id="user-weight" placeholder="请输入体重" ></input></td>
		</tr>

		<tr>
		<td ><label for="user-badHabits">不良嗜好:</label></td>
		<td><input ng-model="user.updateobj.badHabits" class="input-xlarge" id="user-badHabits" placeholder="请输入不良嗜好" ></input></td>
		</tr>

		<tr>
		<td ><label for="user-emContact1">紧急联系人(1):</label></td>
		<td><input ng-model="user.updateobj.emContact1" class="input-xlarge" id="user-emContact1" placeholder="请输入紧急联系人" ></input></td>
		</tr>

		<tr>
		<td ><label for="user-emContact1Tel">紧急联系人号码(1):</label></td>
		<td><input ng-model="user.updateobj.emContact1Tel" class="input-xlarge" id="user-emContact1Tel" placeholder="请输入紧急联系人号码" ></input></td>
		</tr>

		<tr>
		<td ><label for="user-emContact2">紧急联系人(2):</label></td>
		<td><input ng-model="user.updateobj.emContact2" class="input-xlarge" id="user-emContact2" placeholder="请输入紧急联系人" ></input></td>
		</tr>

		<tr>
		<td ><label for="user-emContact2Tel">紧急联系人号码(2):</label></td>
		<td><input ng-model="user.updateobj.emContact2Tel" class="input-xlarge" id="user-emContact2Tel" placeholder="请输入紧急联系人号码" ></input></td>
		</tr>

		</table>
		</form>
    </div>
</div>
<div class="row-fluid">
	<div class="span12">
		<button class="btn" type="button"
				ng-class="{'btn-primary': updateChiefForm.$valid && user.isEmailUnique}" 
				ng-click="user.update()"
				ng-disabled="!updateChiefForm.$valid || !user.isEmailUnique">
			<i class="icon-save"></i>保存
		</button>
		<button class="btn btn-primary" type="button"
				ng-click="user.resetPassword()"
				title="新密码将和手机号码一致">
			<i class="icon-lock"></i>重置密码
		</button>
		<a href="#/user" class="btn"><i class="icon-remove"></i>取消</a>
    </div>
</div>