<div class="row-fluid" ng-show="user.relatives && user.relatives.length != 0">
	<div class="span12">
		<div ng-repeat="relative in user.relatives" class="employeeLink" ng-click="user.check(relative)">
			<div class="alert alert-success employeeLink">
        	<input type="checkbox" ng-checked="relative.removed"> <strong>{{relative.name}}</strong>
        	</div>
      	</div>
    </div>
</div>
<div class="row-fluid">
	<div class="span12">
  	    <div ng-show="user.relatives && user.relatives.length == 0">
	    	尚未配置绑定亲属关系
	    </div>
	    <div ng-show="user.relatives && user.relatives.length != 0">
	    	<form class="form-inline">
	    		<label class="checkbox" ng-show="false"><input type="checkbox" ng-click="user.checkAll()"></input>全部选择</label>
	    	</form>
	    </div>
    </div>
</div>
<div class="row-fluid">
	<div class="span12">
		<button class="btn btn-primary" type="button" ng-click="user.addRelatives()">
			<i class="icon-plus"></i>选择亲属
		</button>
		<button class="btn btn-danger" type="button" ng-show="user.relatives && user.relatives.length > 0"
				ng-click="user.removeRelatives()">
			<i class="icon-remove"></i>解除绑定
		</button>
		<a href="#/user" class="btn"><i class="icon-list"></i>返回</a>
    </div>
</div>
<div ecg-relative-dialog></div>