<br/>
<ul class="nav nav-tabs" id="expertTab">
  <li ng-class="{'active': expert.tab == 1}" ng-click="expert.tab = 1"><a href="javascript:void(0)" data-toggle="tab">基本信息</a></li>
  <li ng-class="{'active': expert.tab == 2}" ng-click="expert.tab = 2"><a href="javascript:void(0)" data-toggle="tab">自定义规则</a></li>
  <li ng-class="{'active': expert.tab == 3}" ng-click="expert.tab = 3"><a href="javascript:void(0)" data-toggle="tab">配置接线员</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane" ng-class="{'active': expert.tab == 1}"><ecg-expert-edit></ecg-expert-edit></div>
  <div class="tab-pane" ng-class="{'active': expert.tab == 2}"><ecg-expert-rules></ecg-expert-rules></div>
  <div class="tab-pane" ng-class="{'active': expert.tab == 3}"><ecg-expert-operators></ecg-expert-operators></div>
</div>