<footer style="margin-top: 30px;">
  <div class="container">
    <div class="row">

      <div class="widgets">

        <div class="span3">
          <div class="fwidget">
            <h6>下载</h6>
            <ul>
              <li><a href="#">使用手册</a></li>
              <li><a href="#">客户端软件</a></li>
            </ul>
          </div>
        </div>

        <div class="span3">
          <div class="fwidget">
            <h6>走进AINIA</h6>
            <ul>
              <li><a href="#">远程健康管理</a></li>
              <li><a href="#">在线购物</a></li>
            </ul>
          </div>
        </div>

        <div class="span3">
          <div class="fwidget">
            <h6>服务与支持</h6>
            <ul>
              <li><a href="#">客户服务</a></li>
              <li><a href="#">代理商支持</a></li>
            </ul>
          </div>
        </div>

        <div class="span3">
          <div class="fwidget">
            <h6>最新信息</h6>
            <ul>
              <li><a href="#">客户端2.1发布</a></li>
              <li><a href="#">用户中心改版</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="span12">
          <div class="copy">
            <h6>AINIA <span class="color">用户中心</span></h6>
            <p>Copyright © AINIA - 
              <a href="http://www.ainia.com.cn/">官方主页</a> | 
              <a href="http://www.ainia.com.cn/into-ainia/ceo-speaking.html">走进AINIA</a> |
              <a href="http://www.ainia.com.cn/into-ainia/contact-us.html">联系我们</a>
            </p>
          </div>
      </div>
    </div>
  <div class="clearfix"></div>
  </div>
</footer>