<div class="navbar">
    <div class="navbar-inner">
            <ul class="nav pull-right">
                
                <li id="stats-menu" class="dropdown">
                    <a href="javascript:void(0)" role="button" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-eye-open"></i> 正常工作
                        <i class="icon-caret-down"></i>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="javascript:void(0)"><i class="icon-ok"></i>正常工作</a></li>
                        <li><a tabindex="-1" href="javascript:void(0)"><i class="icon-white"></i>暂离</a></li>
                        <li><a tabindex="-1" href="javascript:void(0)"><i class="icon-white"></i>准备下班</a></li>
                        <li><a tabindex="-1" href="javascript:void(0)"><i class="icon-white"></i>下班</a></li>
                    </ul>
                </li>
                <li id="fat-menu" class="dropdown">
                    <a href="javascript:void(0)" role="button" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-user"></i> {{session.user.name}}
                        <i class="icon-caret-down"></i>
                    </a>

                    <ul class="dropdown-menu">
                        <li ng-click="logout()"><a tabindex="-1" href="javascript:void(0)">退出</a></li>
                    </ul>
                </li>
                
            </ul>
            <a class="brand" href="index.html"><span class="first"></span> <span class="second">AINIA健康中心运营平台</span></a>
    </div>
</div>