<header>
  <div class="container">
    <div class="row">
      <div class="span6">
        <div class="logo">
          <h1><a href="javascript:void(0)">AINIA <span class="color">用户中心</span></a></h1>
          <div class="hmeta">健康管家，呵护全家</div>
        </div>
      </div>
      <div class="span4">
        <div id="workstatus" ng-show="header.status">
            <button class="btn" ng-repeat="status in header.statuses" 
                    ng-class="{'btn-primary': header.status == status.key, 'btn-inverse': header.status != status.key}"
                    ng-click="header.setStatus(status.key)" type="button">{{status.label}}</button>
        </div>
      </div>
      <div class="span2">
        <div id="workstatus">
            <button class="btn btn-link" ng-click="profile()">{{session.user.name}}</button>
            <button class="btn btn-link" ng-click="logout()">退出</button>
        </div>
      </div>
    </div>
  </div>
</header>