<div class="sidebar-nav {{nav.getRoles()}}">
<a href="#/welcome" class="nav-header" ><i class="icon-home"></i>系统首页</a>
<a href="#dashboard-menu" class="nav-header" data-toggle="collapse"><i class="icon-th-list"></i>日常工作</a>
<ul id="dashboard-menu" class="nav nav-list collapse in">
    <li class="undone"><a href="#/undone">待办工作</a></li>
    <li class="done"><a href="#/done">已办工作</a></li>
    <li class="duplicated"><a href="javascript:void(0)">处理重复手机号码</a></li>
    <li class="overview"><a href="#/overview">工作巡查</a></li>
</ul>

<a id="employees-menu-link" href="#employees-menu" class="nav-header" data-toggle="collapse"><i class="icon-list-alt"></i>账户管理</a>
<ul id="employees-menu" class="nav nav-list collapse in">
    <li class="chief"><a href="#/chief">健康管理中心主任</a></li>
    <li ><a href="#/expert">专家</a></li>
    <li ><a href="#/operator">接线员</a></li>
</ul>

<a id="users-menu-link" href="#users-menu" class="nav-header" data-toggle="collapse"><i class="icon-list-alt"></i>用户管理</a>
<ul id="users-menu" class="nav nav-list collapse in">
    <li ><a href="#/user">用户</a></li>
</ul>

<a id="rules-menu-link" href="#rules-menu" class="nav-header" data-toggle="collapse"><i class="icon-list-alt"></i>数据管理</a>
<ul id="rules-menu" class="nav nav-list collapse in">
    <li ><a href="javascript:void(0)">规则设定</a></li>
    <li ><a href="#/reply/config">默认回复</a></li>
</ul>

<!--
<a href="#apks-menu" class="nav-header" data-toggle="collapse"><i class="icon-list-alt"></i>APK管理</a>
<ul id="apks-menu" class="nav nav-list collapse in">
    <li ><a href="#/apk/test">APK测试软件存档</a></li>
    <li ><a href="#/apk/build">APK测试软件存档</a></li>
</ul>

<a href="javascript:void(0)" class="nav-header" ><i class="icon-th"></i>系统设置</a>
-->
<a href="#/profile" class="nav-header" ><i class="icon-user"></i>个人设置</a>
<a href="#/help" class="nav-header" ><i class="icon-question-sign"></i>使用帮助</a>
<a href="#/faq" class="nav-header" ><i class="icon-comment"></i>常见问题</a>
</div>