<div class="row-fluid">
	<div class="span12 buttons">
		<button class="btn btn-primary" type="button"
				ng-click="card.refresh()">
			<i class="icon-refresh"></i>刷新
		</button>
		<input type="text" placeholder="请输入卡号" title="请输入卡号" ng-model="card.query">
		<button class="btn btn-primary" type="button"
				ng-click="card.queryChanged(card.query)">
			<i class="icon-search"></i>查询
		</button>
    </div>
</div>
<div class="row-fluid">
    <div class="block block-without-border span12">
		<table at-table class="table table-bordered" pagination="cardPagination">
		  <thead></thead>
		  <tbody>
		    <tr>
				<td at-implicit sortable title="卡号" attribute="serial"></td>
				<td at-implicit sortable title="充值用户" attribute="userName"></td>
				<td at-implicit sortable title="充值天数" attribute="days"></td>
				<td at-implicit sortable title="充值方式" attribute="chargeType"></td>
				<td at-implicit sortable title="激活日期" attribute="activedDate"></td>
				<td at-implicit sortable title="操作员工" attribute="employeeName"></td>
		    </tr>
		  </tbody>
		</table>

		<div at-server-pagination items-per-page="15" instance="cardPagination" list="card.data" paging="card.paging"></div>
    </div>
</div>