<div class="row-fluid">
	<div class="span12">


    <p>请使用<a href="http://baike.baidu.com/view/468993.htm" target="_blank">CSV格式</a>上传数据。如果存在异常情况，整次上传失败！</p>
    <p>数据格式如下：</p>
    <pre>{卡号},{密码},{服务天数},{失效日期 格式:yyyy-MM-dd 失效日期应该至少在半年之后}</pre>
    <p></p>

    <p>示例</p>
    <pre>
1000,888888,365,2015-01-01
1001,888888,365,2015-01-01
1002,888888,365,2015-01-01</pre>

    <p>出错原因</p>
    <pre>
和现有卡号重复
新卡号之间重复
服务天数异常
失效日期异常
其他异常</pre>

    <div style="padding-top: 20px">
    <button class="btn btn-primary" type="button" ng-click="uploaddialog.show()">
        <i class="icon-ok"></i>上传卡号
    </button>
	</div>

    </div>
    		

</div>
<div ecg-upload-dialog></div>
