<div class="row-fluid">
	<div class="span12">
		<form name="updatePasswordForm">
		<table class="ecgprops">

		<tr>
		<td ><label for="profile-oldpassword">旧密码:</label></td>
		<td>
		<input ng-model="profile.user.oldpassword" class="input-xlarge" id="profile-oldpassword" required placeholder="请输入旧密码">
		<span class="required">*</span></td>
		</tr>

		<tr>
		<td ><label for="profile-newpassword">新密码:</label></td>
		<td>
			<input ng-model="profile.user.newpassword" class="input-xlarge" id="profile-newpassword" placeholder="请输入新密码" >
			<span class="required">*</span>
		</td>
		</tr>

		<tr>
		<td ><label for="profile-confirmpassword">确认新密码:</label></td>
		<td>
			<input ng-model="profile.user.confirmpassword" class="input-xlarge" id="profile-confirmpassword" placeholder="请输入确认密码" >
			<span class="required">*</span>
		</td>
		</tr>

		</table>
		</form>
    </div>
</div>
<div class="row-fluid">
	<div class="span12">
		<button class="btn" type="button"
				ng-class="{'btn-primary': updatePasswordForm.$valid}" 
				ng-click="profile.updatePassword()"
				ng-disabled="!updatePasswordForm.$valid">
			<i class="icon-save"></i>保存
		</button>
    </div>
</div>