<div class="row-fluid">
	<div class="span12 buttons">
		<button class="btn" type="button"
				ng-click="todo.reply()" ng-disabled="todo.current == null || todo.current.examination == null">
			<i class="icon-edit"></i>提交回复
		</button>
		<button class="btn" type="button"
				ng-show="!session.user.isExpert()"
				ng-click="todo.forward()" ng-disabled="todo.current == null || todo.current.examination == null">
			<i class="icon-share-alt"></i>设置为异常数据
		</button>
    </div>
</div>
<div ecg-reply-form></div>
<div class="row-fluid">
    <div class="block span12">
        <div ecg-task-view></div>
    </div>
</div>
<div ecg-reply-form></div>
<div class="row-fluid">
    <div class="span12 buttons">
        <button class="btn" type="button"
                ng-click="todo.reply()" ng-disabled="todo.current == null || todo.current.examination == null">
            <i class="icon-edit"></i>提交回复
        </button>
        <button class="btn" type="button"
                ng-show="!session.user.isExpert()"
                ng-click="todo.forward()" ng-disabled="todo.current == null || todo.current.examination == null">
            <i class="icon-share-alt"></i>设置为异常数据
        </button>
    </div>
</div>
